{% extends 'base.html' %}

{% block extraheaders %}
<title>Twine Package Manager - Home</title>

<meta
    name="description"
    content="Twine Package Manager is a package manager for the Twine system, designed to allow simple sharing and reuse of code by creators from all aspects of Twine."
>
{% endblock %}

{% block content %}
<article>
    <h1>
        Twine Package Manager
    </h1>

    <section>
        <h2>
            Build and use new Twine macros, plugins, and formats
        </h2>

        <p>
            Twine Package Manager, or TwinePM, is a package manager for
            developers who make Twine modules, and for authors who want
            to make use of the pre-existing, proven labors of other
            community members in order to make their hypertext fiction
            and games even better.
        </p>
    </section> 

    {% if logged_in %}
        <section>
            <h3>
                Create a new package
            </h3>

            <p>
                Got a cool idea? Made something useful or pretty for one of your
                stories? <a href="/packages/create/">Add something new</a> to
                the TwinePM ecosystem.
            </p>
        </section>
    {% else %}
        <section>
            <h3>
                Sign up for free and start finding and creating new CSS
                themes, macros, syntax highlighters, and more.
            </h3>

            {% include "signup_link_widget.html" %}
        </section>
    {% endif %}

    <section id="twineMessage">
        <h3>
            Need Twine first?
        </h3>

        <p>
            Head over to
            <a href="//twinery.org">Twinery</a>
            to use the online version or download the desktop version.
            
            <button id="hideMessage">X</button>
        </p>
    </section>

    <section>
        <h3>
            Latest packages
        </h3>

        <ul>
            {% with as_list=True %}
                {% for package in latest_packages %}
                    {% include "packages/package.html" %}
                {% endfor %}
            {% endwith %}
        </ul>
    </section>
</article>

<script id="hideTwineMessage">
(function iife() {
    function hideTwineMessage() {
        var twineMessage = document.querySelector('#twineMessage');
        if (twineMessage) {
            twineMessage.hidden = true;
            twineMessage.style.display = 'none';
        }
    }

    var hideMessage = document.querySelector('#hideMessage');
    if (hideMessage) {
        hideMessage.addEventListener('click', function hide() {
            localStorage.hideTwineMessage = 'true';
            hideTwineMessage();
        });
    }

    if (localStorage && localStorage['hideTwineMessage'] === 'true') {
        hideTwineMessage();
    }
})();
</script>
{% endblock %}