{% extends 'base.html' %}

{% block extraheaders %}
<title>Twine Package Manager - Profiles</title>
<meta
    name="description"
    content="Explore the profiles of new users and search the database."
>
{% endblock %}

{% block content %}
<article>
    <h1>
        Profiles
    </h1>

    <ul>
        {% for profile in profiles %}
            {% with with_link=True %}
                {% include "profiles/profile.html" %}
            {% endwith %}
        {% empty %}
            <li>
                No profiles created.
            </li>
        {% endfor %}
    </ul>
</article>
{% endblock %}