{% extends 'base.html' %}

{% block extraheaders %}
<title>Twine Package Manager - Register</title>

<meta
    name="description"
    content="Register an account to start contributing to Twine Package Manager."
>
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit">Submit</button>
</form>

{% if form.errors %}
    <!-- Hide the error box above the form inputs and add a new one below,
         so that the inputs do not move after the errors are hidden. -->
    <ul class="error">
        {% for field in form %}
            {% for error in fields %}
                <li>
                    {{ error|escape }}
                </li>
            {% endfor %}
        {% endfor %}
        
        {% for error in form.non_field_errors %}
            <li>
                {{ error|escape }}
            </li>
        {% endfor %}
    </ul>

    
    <style id="hideTopErrors">
        .errorlist {
            display: none;
        }
    </style>
{% endif %}

{% include "hide_errors.html" %}
{% endblock %}