{% extends 'base.html' %}

{% block extraheaders %}
<title>Twine Package Manager - Register</title>

<meta
    name="description"
    content="Register an account to start contributing to Twine Package Manager."
>
{% endblock %}

{% block content %}
    <form action="/register/" method="POST">
        <div>
            <label for="username">
                Username
            </label>

            <input
                autofocus
                id="username"
                name="username"
            >
        </div>

        <div>
            <label for="password">
                Password
            </label>

            <input
                id="password"
                name="password"
                type="password"
            >
        </div>

        
        <label for="email">
            E-mail
        </label>

        <input
            id="email"
            name="email"
            type="email"
        >

        <div class="error"></div>
    </form>

    {% include 'form_script.html' %}

    <script src="/static/scripts/editOnBeforeUnloadHandler.js" async defer></script>
{% endblock %}