{% extends 'base.html' %}

{% block extraheaders %}
<title>Twine Package Manager - Register</title>
<meta
    name="description"
    content="Register an account to start contributing to Twine Package Manager."
>
{% endblock %}

{% block content %}
    <article class="container">
        <h2>Sign up</h2>

        <form method="POST">
            {% csrf_token %}
    
            {{ form.as_p }}
    
            <div>
                <label for="email">
                    E-mail
                </label>

                <input
                    id="email"
                    name="email"
                    type="email"
                >
            </div>
    
            <button type="submit">Sign up</button>
        </form>
    </article>
{% endblock %}