.home-packages-list {
    padding: 0;
    margin-bottom: 1rem;
}

.home .package-title {
    white-space: nowrap;
    overflow: hidden;
}

.home-introduction-row {
    margin-bottom: 1rem;
}

@media screen and (min-width: 576px) {
    .home-packages-row .home-hero-title {
        height: 7rem;
    }
}

@media screen and (min-width: 992px) {
    .home-packages-row .home-hero-title {
        height: 5rem;
    }
}
