{% extends 'base.html' %}

{% block extraheaders %}
<title>Twine Package Manager - Account ({{ user.username|default:"No name" }})</title>
<meta
    name="description"
    content="A detailed view of the account for {{ user.username|default:'a Twine Package Manager user' }}."
>
{% endblock %}

{% block content %}
<article>
    <h2>
        {{ user.username|default:"Error: user not found" }}
    </h2>

    <div>
        <h4>
            <em>
                Date created
            </em>
        </h4>

        <time>
            {% if profile.time_style == '24H' %}
                {% if profile.date_style == 'DDMM' %}
                    {{ user.date_joined|date:'d N Y, G:i' }}
                {% else %}
                    {{ user.date_joined|date:'N d Y, G:i' }}
                {% endif %}
            {% else %}
                {% if profile.date_style == 'DDMM' %}
                    {{ user.date_joined|date:'d N Y, g:i a' }}
                {% else %}
                    {{ user.date_joined|date:'N d Y, g:i a' }}
                {% endif %}
            {% endif %}
        </time>
    </div>

    <div>
        <h4>
            <em>
                Last logged in
            </em>
        </h4>

        <time>
            {% if profile.time_style == '24H' %}
                {% if profile.date_style == 'DDMM' %}
                    {{ user.last_login|date:'d N Y, G:i' }}
                {% else %}
                    {{ user.last_login|date:'N d Y, G:i' }}
                {% endif %}
            {% else %}
                {% if profile.date_style == 'DDMM' %}
                    {{ user.last_login|date:'d N Y, g:i a' }}
                {% else %}
                    {{ user.last_login|date:'N d Y, g:i a' }}
                {% endif %}
            {% endif %}
        </time>
    </div>

    <form id="accountUpdate">
        {% csrf_token %}

        <div>
            <label for="email">
                <em>
                    E-mail
                </em>
            </label>

            <input
                id="email"
                name="email"
                value="{{ user.email }}"
            >
        </div>

        <div>
            <label for="email_visible">
                <em>
                    E-mail visible to others
                </em>
            </label>

            <select
                id="email_visible"
                name="email_visible"
                value="{{ profile.email_visible }}"
            >
                <option data-db-value="true">
                    True
                </option>

                <option data-db-value="false">
                    False
                </option>
            </select>
        </div>

        <div>
            <label for="homepage">
                <em>
                    Homepage
                </em>
            </label>

            <input
                id="homepage"
                name="homepage"
                value="{{ profile.homepage }}"
            >
        </div>

        <div>
            <label for="description">
                <em>
                    Description
                </em>
            </label>

            <textarea
                id="description"
                name="description"
            >{{ profile.description }}</textarea>
        </div>

        <div>
            <label for="date_style">
                Date style
            </label>

            <select
                id="date_style"
                name="date_style"
                value="{% if profile.date_style == 'DDMM' %}Day-month-year{% else %}Month-day-year{% endif %}"
            >
                <option data-db-value="DDMM">
                    Day-month-year
                </option>

                <option data-db-value="MMDD">
                    Month-day-year
                </option>
            </select>
        </div>

        <div>
            <label for="time_style">
                Time style
            </label>

            <select
                id="time_style"
                name="time_style"
                value="{% if profile.time_style == '24H' %}24-hour{% else %}12H{% endif %}"
            >
                <option data-db-value="12H">
                    12-hour
                </option>

                <option data-db-value="24H">
                    24-hour
                </option>
            </select>
        </div>

        <button id="submit" type="button">
            Update profile
        </button>

        <div>
            <h4>
                <em>
                    Packages
                </em>
            </h4>

            <ul>
                {% for package in packages %}
                    <li>
                        <strong>{{ package.name }}</strong>

                        <a
                            class="editPackage"
                            href="/packages/{{ package.id }}/edit/"
                        >Edit</a>

                        <a
                            class="deletePackage"
                            href="/packages/{{ package.id }}/delete/"
                        >Delete</a>
                    </li>
                {% empty %}
                    No packages yet!
                {% endfor %}
            </ul>
        </div>

        <a href="/packages/create/">
            Create new package
        </a>

        <div class="error"></div>
    </form>

    {% include 'form_script.html' %}

    <div>
        <a href="/account/changePassword/">Change password</a>
    </div>
</article>

<script src="/static/scripts/editOnBeforeUnloadHandler.js" async defer></Script>
{% endblock %}