<script id="enterKeySupport">
(function () {
  var submitter = document.querySelector('input#submit');

  /* Do not allow more than one of this script to be added to the document. */
  var enterKeySupport = document.querySelectorAll('script#enterKeySupport');
  if (enterKeySupport.length > 1) {
    console.log('Extra enterKeySupport script added. Total in document is: ' +
                enterKeySupport.length);
    return;
  } else if (!submitter) {
    console.log('The input with id submit is missing from the document.');
    return;
  }

  document.addEventListener('keydown', function (e) {
    if (e.keyCode === 13 && e.target.classList.contains('enterable')) {
      submitter.click();
    }
  });
})();
</script>