<script id="form-submission-script" async defer>
/* The calling form *must* include form_method and form_destination in its
 * context. */
(function formPutter(e) {
    var form = document.querySelector('{{ form_selector|default:"#update" }}');
    var submitter = form.querySelector('{{ form_submitter|default:"#submit" }}');
    var error = document.querySelector('{{ form_error|default:".error" }}');

    submitter.addEventListener('click', function click() {
        var csrfTokenInput = form.querySelector('[name=csrfmiddlewaretoken]');
        var csrfToken = csrfTokenInput ? csrfTokenInput.value : null;
        var xhr = new XMLHttpRequest();
        var payload = {};
        var namedInputs = Array.prototype.slice.call(
            form.querySelectorAll('input[name], select[name], textarea[name]'));

        namedInputs.forEach(function each(child) {
            var tagName = child.tagName.toLowerCase();
            var name = child.name;
            var found = false;
            if (tagName === 'select') {
                /* Allow options to indicate that they represent a different
                 * value used on the server side. */
                Array.prototype.slice.call(child.querySelectorAll('option'))
                    .forEach(function each(option) {
                        if (option.value === child.value && option.dataset.dbValue) {
                            found = true;
                            payload[name] = option.dataset.dbValue;
                        }
                    });

                if (!found) {
                    payload[name] = child.value;
                }
            } else {
                payload[name] = child.value;
            }

            delete payload.date_created;
            delete payload.date_modified;
        });

        xhr.withCredentials = true;
        xhr.open('{{ form_method }}', '{{ form_destination }}');
        xhr.setRequestHeader('X-CSRFToken', csrfToken);
        xhr.onload = function onload(e) {
            var responseObj;
            try {
                responseObj = JSON.parse(this.responseText);
            } catch (e) {
                responseObj = {};
            }

            if (this.status === 200) {
                {% if form_after_submit_action == 'update_page' %}
                    /* Update the form in place, without refreshing. */
                    Object.keys(responseObj).forEach(function each(key) {
                        var value = responseObj[key];
                        var elem = form.querySelector('#' + key);
                        var tagName = elem ? elem.tagName.toLowerCase() : null;
                        var found = false;
                        if (elem) {
                            if (tagName === 'select') {
                                Array.prototype.slice.call(elem.querySelectorAll('option')).forEach(function each(option) {
                                    if (option.dataset.dbValue === String(value)) {
                                        found = true;
                                        elem.value = option.value;
                                    }
                                });

                                if (!found) {
                                    elem.value = value;
                                }
                            } else if (elem.tagName === 'input' ||
                                       elem.tagName === 'textarea')
                            {
                                elem.value = value;
                            } else {
                                elem.textContent = value;
                            }
                        }
                    });
                {% else %}
                    /* Redirect back to the account page. */
                    window.location = '{{ form_after_submit_redirect|default:"/account/" }}';
                {% endif %}
            } else if (error) {
                var errors;
                try {
                    errors = JSON.parse(responseObj.error);
                } catch (e) {}

                if (!Array.isArray(errors)) {
                    if (responseObj.error) {
                        errors = [ responseObj.error, ];
                    } else {
                        errors = [];
                    }
                }

                errors.forEach(function each(err) {
                    var li = document.createElement('li');
                    li.textContent = err;
                    error.appendChild(li);
                });

                /* Clear the error after a timeout. */
                setTimeout(function timeout() {
                    error.innerHTML = '';
                }, 6000);
            } else {
                console.log('Could not find error element. Error was:');
                console.log(responseObj.error);
            }
        };

        xhr.send(JSON.stringify(payload));
    });
})();
</script>