{% load escape_quotation_marks %}

<header class="header">
    <a href="/">Home</a>

    <a href="/packages">Packages</a>

    {% if logged_in %}
        <a href="/account">Account</a>

        <a href="/logout">Logout</a>
    {% else %}
        <a href="/register">Register</a>

        <a href="/login">Login</a>
    {% endif %}

    <div class="search_bar_container">
        <input
            type="text"
            class="search_bar"
            tabindex="1"
            value="{{ query|escape_quotation_marks|safe }}"
        >

        <button class="search_button">
            Search
        </button>
    </div>
</header>