{% load escape_quotation_marks %}

<header class="header container">
    <a class="header-link" href="/">Home</a>

    <a class="header-link" href="/packages">Packages</a>

    {% if logged_in %}
        <a class="header-link" href="/account">Account</a>

        <a class="header-link" href="/logout">Logout</a>
    {% else %}
        <a class="header-link" href="/register">Register</a>

        <a class="header-link" href="/login">Login</a>
    {% endif %}

    <div class="search-bar-container">
        <input
            type="text"
            class="search-bar"
            tabindex="1"
            value="{{ query|escape_quotation_marks|safe }}"
        >

        <button class="search-button">
            Search
        </button>
    </div>
</header>