.header {
    margin-bottom: 1rem;
}

.header-link {
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
    font-size: 120%;
}

.search-bar-container {
    height: 2rem;
    font-size: 120%;
}

.search-bar {
    width: 75%;
    height: 100%;
    margin-right: 3%;
}

.search-button {
    float: right;
    width: 22%;
    height: 100%;
}

@media screen and (min-width: 576px) {
    .search-bar {
        width: 85%;
        margin-right: 1.5%;
    }

    .search-button {
        width: 13.5%;
    }
}

@media screen and (min-width: 992px) {
    .search-bar {
        width: 90%;
        margin-right: 1%;
    }

    .search-button {
        width: 9%;
    }
}
