{% extends 'base.html' %}

{% block extraheaders %}
<title>Twine Package Manager - Versions</title>
<meta
    name="description"
    content="Explore newly-updated versions of packages and search the database."
>
{% endblock %}

{% block content %}
<article>
    <h2>
        Versions
    </h2>

    <ul>
        {% for version in versions %}
            {% include "versions/version.html" %}
        {% empty %}
            <li>
                No versions created.
            </li>
        {% endfor %}
    </ul>
</article>
{% endblock %}