{% if version %}
    <h3>
        {{ version.version_identifier }}
    </h3>

    {% if version.parent_package %}
        <h4>
            A version of the
            <a href="/packages/{{ version.parent_package.id }}">{{ version.parent_package.name }}</a>
            package.
        </h4>
    {% endif %}

    {% if version.description %}
        <div>
            <h4>
                <em>
                    Description
                </em>
            </h4>

            <p>
                {{ version.description }}
            </p>
        </div>
    {% endif %}

    {% if version.js %}
        <div>
            <h4>
                <em>
                    Javascript
                </em>
            </h4>

            <p>
                <code>
                    {{ version.js }}
                </code>
            </p>
        </div>
    {% endif %}

    {% if version.css %}
        <div>
            <h4>
                <em>
                    CSS
                </em>
            </h4>

            <p>
                <code>
                    {{ version.css }}
                </code>
            </p>
        </div>
    {% endif %}

    {% if version.date_created %}
        <div>
            <h4>
                <em>
                    Date created
                </em>
            </h4>

            <p>
                <time>
                    {{ version.date_created }}
                </time>
            </p>
        </div>
    {% endif %}
{% else %}
    <p>Version not found.</p>
{% endif %}